/*comp colors: brown #673223 and green #236732*/
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #322367;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}
.banner {
    width: 100%;
    margin: 0;
    background-color: #322367;
}
head{
    margin: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #673223;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5% 5%;
    text-decoration: none;
    font-size: 200%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #236732;
    color: white;
  }

  .mycontainer{
    background-color: #673223;
    width: 100%;
  }