@tailwind base;
@tailwind components;
@tailwind utilities;


/********** Base Template **********/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/********** Home Page **********/

/* General styles for availability indicators */
[data-availability] {
    background-color: #cccccc; /* Default gray */
}

/*[data-availability="1"] {*/
/*    background-color: #22c55e; !* Green: Fully available *!*/
/*}*/

/*[data-availability="0"] {*/
/*    background-color: #ef4444; !* Red: Fully occupied *!*/
/*}*/

/*[data-availability]:not([data-availability="1"]):not([data-availability="0"]) {*/
/*    background-color: #facc15; !* Yellow: Partial availability *!*/
/*}*/

/********** Error Page **********/

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}

.error-code {
    animation: shake 0.5s ease-in-out;
}
