doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/default.css")
    title Home
  body
    header
      .topnav
            a.active(href='/') Home
            a(href='/map') Map
            a(href='/query') Query
    .myspacer
    .info
      p Main Lot: 10/100 Available
    .myspacer
    .info 
      p Commons Lot: 5/30 Available
    .myspacer
    .info
      p Waldschmidt Lot: 2/20 Available
    .myspacer
    .info
      p Shiley Lot: 10/20 Available
    .myspacer
    .info
      p Christie Lot: 2/20 Available
    .myspacer
    .info
      p Kenna Lot: 2/20 Available
    .myspacer
    .info
      p Baseball Lot: 2/20 Available