doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/default.css")
    title Home
  body
    header
      .topnav
            a.active(href='/') Home
            a(href='/map') Map
            a(href='/query') Query
    .myspacer
    .info
      p Main Lot: 50/100 Available &#x1F7E9
    .myspacer
    .info 
      p Commons Lot: 5/40 Available &#x1F7E5
    .myspacer
    .info
      p Waldschmidt Lot: 10/30 Available &#x1F7E8
    .myspacer
    .info
      p Shiley Lot: 10/20 Available &#x1F7E9
    .myspacer
    .info
      p Christie Lot: 5/20 Available &#x1F7E5
    .myspacer
    .info
      p Kenna Lot: 1/20 Available &#x1F7E5
    .myspacer
    .info
      p Baseball Lot: 2/20 Available &#x1F7E5