doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/default.css")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    title Query
  body
    header
      .topnav
            a(href='/') Home
            a(href='/map') Map
            a.active(href='/query') Query
      div.banner
        p THIS IS THE QUERY PAGE, still in development 
  select#lot-select
      option(value="A") Lot A
      option(value="B") Lot B
      option(value="C") Lot C
    select#timeframe-select
      option(value="1d") 1 Day
      option(value="1w") 1 Week
      option(value="1m") 1 Month
    button#submit-button Submit

    canvas#myChart

    script.
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'line',
        data: #{JSON.stringify(chartData)},
        options: {}
      });
 