doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/default.css")
    title Query
  body
    header
      .topnav
            a(href='/') Home
            a(href='/map') Map
            a.active(href='/query') Query
      div.banner
        p THIS IS THE QUERY PAGE, still in development here
