.authors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .author-card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .author-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  .author-card img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  
  
  .progress-wrapper {
    position: relative;
    margin: 10px 0;
  }
  
  .progress-labels {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 4px;
    position: relative;
  }
  
  .occupied-label {
    position: absolute;
    transform: translateX(-150%);
    top: 0;
    font-weight: bold;
    color: #313131;
  }
  
  .capacity-label {
    position: absolute;
    right: 2px;
    top: 0;
    font-weight: bold;
    color: #777;
  }
  
  .progress-bar-container {
    width: 100%;
    height: 24px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    transition: width 0.3s ease;
  }
  
  .progress-bar.green {
    background-color: #4CAF50;
  }
  
  .progress-bar.yellow {
    background-color: #FFC107;
  }
  
  .progress-bar.red {
    background-color: #F44336;
  }
  
  

  .logo-top-right {
    position: absolute;
    top: 1rem;
    left: 3rem;
    z-index: 1000;
    background-color: #f9f9f9;
    padding: 2px;
  }
  
  .logo-top-right img {
    height: 50px;
    width: auto;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  h2 {
    color: #2a2a2a;
  }
  h3 {
    color: #2a2a2a;
  }

  p {
    color: #2a2a2a;
  }

  :root {
    /* Light theme colors */
    --theme: #ffffff; /* Background color */
    --entry: #f9f9f9; /* Entry (post) background color */
    --primary: #333333; /* Primary text color */
    --secondary: #666666; /* Secondary text color */
    --tertiary: #cccccc; /* Tertiary text color */
    --content: #333333; /* Content text color */
    --hljs-bg: #f5f5f5; /* Code block background color */
    --code-bg: #f5f5f5; /* Inline code background color */
    --border: #e0e0e0; /* Border color */
  }
  
  /* Dark theme colors (if dark mode is enabled) */
  .dark {
    --theme: #1e1656; /* Background color */
    --entry: #2a2a2a; /* Entry (post) background color */
    --primary: #e0e0e0; /* Primary text color */
    --secondary: #b0b0b0; /* Secondary text color */
    --tertiary: #808080; /* Tertiary text color */
    --content: #e0e0e0; /* Content text color */
    --hljs-bg: #2a2a2a; /* Code block background color */
    --code-bg: #2a2a2a; /* Inline code background color */
    --border: #404040; /* Border color */
  }

  .map-container {
    position: relative; /* Needed for absolute positioning of overlays */
    overflow: hidden; /* Hide parts of the image that are out of the viewport */
    width: 100%; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
  }
  
  #map-image {
    display: block; /* Remove extra space below the image */
    width: 100%; /* Initial width, will be scaled with zoom */
    height: auto;
    transform-origin: top left; /* Ensure zoom centers from the top-left */
  }
  
  .map-overlay {
    position: absolute;
    background-color: rgba(32, 28, 28, 0.5); /* Example overlay style */
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    pointer-events: none; /* Allow interaction with the image below */
  }
  