{% extends "layouts/base.html" %}

{% block content %}
    <div class="max-w-4xl mx-auto text-center mt-16">
        <div class="bg-white shadow-md rounded-lg p-8">
            <h1 class="text-6xl font-bold text-purple-800">{{ error_code }}</h1>
            <p class="text-lg text-gray-700 mt-4">{{ error_message }}</p>
            <div class="mt-6">
                <a href="/" class="bg-purple-800 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-purple-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 transition duration-200">
                    Go back to Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}
