{{ define "main" }}
  <div class="container">
    {{ $data := index .Site.Data.items }}
    {{ range $data }}
      {{ $filled := div (mul .current_amount 100) .max_capacity }}

      <section class="item">
        <h2>{{ .name }}</h2>

        <div class="progress-wrapper">
          <div class="progress-labels">
            <span class="occupied-label" style="left: {{ $filled }}%;">{{ .current_amount }}</span>
            <span class="capacity-label">{{ .max_capacity }}</span>
          </div>

          <div class="progress-bar-container">
            <div 
              class="progress-bar 
              {{ if lt $filled 50 }}green{{ else if lt $filled 90 }}yellow{{ else }}red{{ end }}" 
              style="width: {{ $filled }}%;">
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  </div>
{{ end }}
